#p-statsbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(21, 27, 34);
}

.p-statsbar-item {
    display: flex;
    width: 144px;
    height: 88px;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 10px 0px;
    text-align: center;
    color: rgb(229, 232, 235);
}

.p-statsbar-item:nth-child(2) {
    border-left: 1px solid rgb(21, 27, 34);
    border-right: 1px solid rgb(21, 27, 34);
}

.p-statsbar-item-value {
    font-weight: 600;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.p-statsbar-item-text {
    margin-top: 8px;
    font-size: 14px;
}

#p-dropdown-select-time {
    margin-top: 16px;
}

#p-dropdown-select-time select {
    width: 144px;
    padding: 6px;
    color: rgb(255, 255, 255);
    background-color: rgb(32, 34, 37);
    cursor: pointer;
    border: 1px solid rgb(21, 27, 34);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
}

#p-dropdown-select-time select:focus {
    outline: none;
}

#p-timer {
    display: flex;
    justify-content: center;
    width: 144px;
    padding: 6px;
    color: rgb(255, 255, 255);
    background-color: rgb(32, 34, 37);
    border: 1px solid rgb(21, 27, 34);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: none;
}

#timer-icon {
    width: 13px;
    margin-right: 9px;
}